
<div class="row">

	<div class="col-xs-4">
		<div class="adv-head row">
			<div class="col-xs-2"><img class="landing-icon" src="/alarm-clock.png"></div>
			<div class="col-xs-10"><h1>Strict Deadlines</h1></div>
		</div>
		<div class="adv-text row">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor iaculis quam, et condimentum urna dignissim vitae. Fusce ac euismod urna. Fusce lacinia aliquet feugiat. Aenean urna ante, molestie at viverra in, luctus vitae justo. Ut porttitor ut leo vitae tristique. Maecenas vel massa nibh. Praesent ornare pellentesque ipsum, eu aliquam purus sollicitudin ac. Suspendisse dapibus, purus id luctus rutrum, massa tellus consectetur felis, ut vestibulum orci leo eget nisl.
		</div>
		<a href="#"><div class="adv-btn row">Read more...</div></a>
	</div>

	<div class="col-xs-4">
		<div class="adv-head row">
			<div class="col-xs-2"><img class="landing-icon" src="/shield.png"></div>
			<div class="col-xs-10"><h1>Best Pricing</h1></div>
		</div>
		<div class="adv-text row">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor iaculis quam, et condimentum urna dignissim vitae. Fusce ac euismod urna. Fusce lacinia aliquet feugiat. Aenean urna ante, molestie at viverra in, luctus vitae justo. Ut porttitor ut leo vitae tristique. Maecenas vel massa nibh. Praesent ornare pellentesque ipsum, eu aliquam purus sollicitudin ac. Suspendisse dapibus, purus id luctus rutrum, massa tellus consectetur felis, ut vestibulum orci leo eget nisl.
		</div>
		<a href="#"><div class="adv-btn row">Read more...</div></a>
	</div>

	<div class="col-xs-4">
		<div class="adv-head row">
			<div class="col-xs-2"><img class="landing-icon" src="/checked.png"></div>
			<div class="col-xs-10"><h1>High Quality</h1></div>
		</div>
		<div class="adv-text row">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor iaculis quam, et condimentum urna dignissim vitae. Fusce ac euismod urna. Fusce lacinia aliquet feugiat. Aenean urna ante, molestie at viverra in, luctus vitae justo. Ut porttitor ut leo vitae tristique. Maecenas vel massa nibh. Praesent ornare pellentesque ipsum, eu aliquam purus sollicitudin ac. Suspendisse dapibus, purus id luctus rutrum, massa tellus consectetur felis, ut vestibulum orci leo eget nisl.
		</div>
		<a href="#"><div class="adv-btn row">Read more...</div></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-4">
		<img class="shadow-sm example-img" src="/image 1.jpg">
		<h4>Real Estate 1</h4>
	</div>

	<div class="col-xs-4">
		<img class="shadow-sm example-img" src="/image 2.jpg">
		<h4>Real Estate 2</h4>
	</div>

	<div class="col-xs-4">
		<img class="shadow-sm example-img" src="/image 3.jpg">
		<h4>Real Estate 3</h4>
	</div>
</div>