<div class="shadow-sm params-block">

	<form method="get" class="form-group">

		<caption>State:</caption>
		<select class="form-control" name="state" onchange='this.form.submit()'>

			<option <%unless params[:state]%> selected <%end%> disabled>
		 		Any
		 	</option>
			<option <%if params[:state]=='New York'%> selected <%end%>>New York</option>
			<option <%if params[:state]=='Los Angeles'%> selected <%end%>>Los Angeles</option>
			<option <%if params[:state]=='California'%> selected <%end%>>California</option>
			<option <%if params[:state]=='Texas'%> selected <%end%>>Texas</option>
		</select>


		<caption>Region:</caption>
		<select class="form-control" <%unless params[:state]%> disabled <%end%> 
		name="region" onchange='this.form.submit()'>

		 	<option <%unless params[:region]%> selected <%end%> disabled>
		 		Any
		 	</option>

			<%if params[:state]=='New York'%> 

				<option <%if params[:region]=='NY 1'%> selected <%end%>>NY 1</option>
				<option <%if params[:region]=='NY 2'%> selected <%end%>>NY 2</option>
				<option <%if params[:region]=='NY 3'%> selected <%end%>>NY 3</option>
				<option <%if params[:region]=='NY 4'%> selected <%end%>>NY 4</option>
			<%end%>

			<%if params[:state]=='Los Angeles'%> 
				<option <%if params[:region]=='LA 1'%> selected <%end%>>LA 1</option>
				<option <%if params[:region]=='LA 2'%> selected <%end%>>LA 2</option>
				<option <%if params[:region]=='LA 3'%> selected <%end%>>LA 3</option>
				<option <%if params[:region]=='LA 4'%> selected <%end%>>LA 4</option>
			<%end%>

			<%if params[:state]=='California'%> 
				<option <%if params[:region]=='CA 1'%> selected <%end%>>CA 1</option>
				<option <%if params[:region]=='CA 2'%> selected <%end%>>CA 2</option>
				<option <%if params[:region]=='CA 3'%> selected <%end%>>CA 3</option>
				<option <%if params[:region]=='CA 4'%> selected <%end%>>CA 4</option>
			<%end%>

			<%if params[:state]=='Texas'%> 
				<option <%if params[:region]=='TX 1'%> selected <%end%>>TX 1</option>
				<option <%if params[:region]=='TX 2'%> selected <%end%>>TX 2</option>
				<option <%if params[:region]=='TX 3'%> selected <%end%>>TX 3</option>
				<option <%if params[:region]=='TX 4'%> selected <%end%>>TX 4</option>
			<%end%>
		</select>

		<caption>Bedrooms:</caption>
		<select class="form-control" name="bedrooms"  onchange='this.form.submit()'>

		<option <%unless params[:bedrooms]%> selected <%end%> disabled>Any</option>

		<option <%if params[:bedrooms]=='1'%> selected <%end%>>1</option>
		<option <%if params[:bedrooms]=='2'%> selected <%end%>>2</option>
		<option <%if params[:bedrooms]=='3'%> selected <%end%>>3</option>
		<option <%if params[:bedrooms]=='4'%> selected <%end%>>4</option>
		<option <%if params[:bedrooms]=='5'%> selected <%end%>>5</option>
			
		</select>

	</form>
</div>