.params-block{
	padding: 20px;
	margin-bottom: 50px;
	background: -moz-linear-gradient(top, #dadada, #fbfbfb);
	background: -webkit-linear-gradient(top, #dadada, #fbfbfb);
	background: linear-gradient(to bottom, #dadada, #fbfbfb);
}
