/*custom*/
	body{
		margin: 0;
	}

	.container{
		padding: 0;
	}

/*custom END*/

/*Header*/

#header{
	color: white;
	height: 425px;
	background: #1d4242 url('/header-pattern.png') center bottom;
	background-size: cover;
	box-shadow: 0px 60px 80px -48px rgba(0,0,0,1);
}

#nav-bar{
	margin: 20px 0;
}
	/*Company logo*/
		.company-name{
			font-family: Arial;
			font-variant: small-caps;
			font-weight: bold;
			font-size: 40px;
			float: left;
		}

		.gradient-white-gray{
			background: -webkit-linear-gradient(white, gray);
			-webkit-background-clip: text;
		  	-webkit-text-fill-color: transparent;
		}
	/*Company logo END*/

	/*Navigation*/
		.navigation{
			float: right;
			margin-top: 20px;
		}
		.navigation li{
			list-style: none;
			float:left;
			margin-right: 40px;
		}

		.navigation li:last-child {margin-right: 0}

		.navigation a{
			text-transform: uppercase;
			font: 14px Arial, sans-serif;
			color: white;
		}
	/*Navigation END*/

/*Message*/
	#message h2{
		font-family: Calibri;
		margin-top: 0;
		font-size: 47px;
	}
	#message h4{
	font-family: "Segoe UI";
	font-size: 25px;
	font-variant: small-caps;
	}

	#slogan{
		margin-top: 40px;
		font-size: 26px;
		color: #b4ffff;
	}
/*Message END*/

#main-image{
	box-shadow: 0px 60px 80px -48px rgba(0,0,0,1);
	float: right;
	margin-right: 50px;
	width: 580px;
	height: 290px;
}

/*Header END*/

/*Main Content*/
	.main-block{
		height: 600px;	
		background: #bcbcbc;
		background: -moz-linear-gradient(top, #bcbcbc 0%, white 100%);
		background: -webkit-linear-gradient(top, #bcbcbc 0%, white 100%);
		background: linear-gradient(to bottom, #bcbcbc 0%, white 100%);
	}
/*Main Content END*/
