/*custom*/
	body{
		margin: 0;
	}

	hr{
		border: 2px solid;
		border-image: linear-gradient(to left, transparent, gray, transparent) 1;
	}

	a:hover{
		text-decoration: none
	}

	.form-control:focus{
		border-color: rgba(30, 70, 70, .7);
	    outline: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	}

	.form-control:hover{
		cursor: pointer;
	}

	.form-control[disabled]:hover{
		cursor: not-allowed;
	}	

	.container{
		padding: 0;
	}

	.right{
		float: right;
	}

	.left{
		float: left;
	}
	.center{
		text-align: center;
		left:auto;
		right: auto;
	}

	/*Shadows*/
		.shadow-sm{
			-webkit-box-shadow: 0px 45px 80px -45px rgba(0,0,0,1);
			-moz-box-shadow: 0px 45px 80px -45px rgba(0,0,0,1);
			box-shadow: 0px 45px 80px -45px rgba(0,0,0,1);
		}


		.shadow-md{
			box-shadow: 0px 60px 80px -50px rgba(0,0,0,1);
			-moz-box-shadow: 0px 60px 80px -50px rgba(0,0,0,1);
			box-shadow: 0px 60px 80px -50px rgba(0,0,0,1);
		}
	/*Shadows END*/

	/*Fonts*/
		@font-face{
			font-family: lombriga;
    		src: url(/fonts/Lombriga.ttf);
		}

		.lombriga{font-family: lombriga}

		@font-face{
			font-family: asphalt;
    		src: url(/fonts/asphalt.ttf);
		}
		.asphalt{font-family: asphalt}

		@font-face{
			font-family: infinite;
    		src: url(/fonts/Infinite_Stroke.otf);
		}
		.infinite{font-family: infinite}

		@font-face{
			font-family: empty_apartments;
			src: url(/fonts/empty_apartments.ttf)
		}
		.empty-apartments{font-family: empty_apartments}
	/*Fonts END*/
/*custom END*/

/*Header*/

	#header{
		color: white;
		padding-bottom: 30px;
		background: rgba(30, 70, 70, 1) url('/header-pattern.png');
		background-size: cover;
	}

	#nav-bar{
		margin-top: 20px;
		margin-bottom: 10px;
		border-bottom: 2px solid; 
		border-image: linear-gradient(to right, transparent, #b4ffff, transparent) 1;
	}
	/*Company logo*/
		.company-name{
			font-size: 60px;
			line-height: 50px;
			float: left;
			background: -webkit-linear-gradient(white, gray);
			-webkit-background-clip: text;
		  	-webkit-text-fill-color: transparent;
		}
	/*Company logo END*/

	/*Navigation*/
		.navigation li{
			list-style: none;
			float:left;
			padding-top: 20px;
			margin-right: 40px;
		}

		.navigation li:last-child {margin-right: 0}

		.navigation a{
			text-transform: uppercase;
			font: 14px Arial, sans-serif;
			color: white;
		}
	/*Navigation END*/

	/*Message*/
		#message{
			margin-top: 40px;
		}

		#slogan{
			margin-top: 0;
			font-size: 25px;
			color: #ffe400;
		}
		#h1{
			margin-top: 10px;
			font-size: 50px;
			text-align: center;
		}
		#h2{
			margin-bottom: 0;
			margin-top: 5px;
			font-size: 24px;
			color: #b4ffff;
		}
	/*Message END*/

	/*Start button*/
		#start-btn{
			/*#e1cf08*/
			width: 230px;
			margin-top: 30px;
			background-color: rgba(225, 207, 8, 1);
			color: #1d4242;
			font-size: 19px;
		}

		#start-btn:hover{
		background: rgba(225, 207, 8, 1);
		background: -moz-linear-gradient(left,rgba(225, 207, 8, .8), rgba(225, 207, 8, 1));
		background: -webkit-linear-gradient(left, rgba(225, 207, 8, .8), rgba(225, 207, 8, 1));
		background: linear-gradient(to rgba(225, 207, 8, .8), rgba(225, 207, 8, 1));
		}
	/*Start button END*/

	#main-image{
		float: right;
		margin-right: 50px;
		width: 660px;
		height: 350px;
	}
/*Header END*/

/*Main Content*/
	.main-block{
		min-height: 600px;	
		background: #bcbcbc;
		background: -moz-linear-gradient(top, #bcbcbc, white);
		background: -webkit-linear-gradient(top, #bcbcbc, white);
		background: linear-gradient(to bottom, #bcbcbc, white);
	}

	.landing-icon{
		width: 60px;
		height:60px;
	}

	.adv-head{
		font-family: asphalt;
		margin-top: 15px;
		margin-bottom: 15px;
		color: #1d4542;
	}

	.adv-text{
		width: 80%;
		text-align: center;
	}

	.adv-btn{
		margin-top: 15px;
		margin-left: 5px;
		width: 150px;
		background-color: rgba(30, 70, 70, 1); 
		color: white;
		text-decoration: none;
	}

	.adv-btn:hover{
		color: white;
		background: rgba(30, 70, 70, 1);
		background: -moz-linear-gradient(left, rgba(30, 70, 70, .8), rgba(30, 70, 70, 1));
		background: -webkit-linear-gradient(left, rgba(30, 70, 70, .8), rgba(30, 70, 70, 1));
		background: linear-gradient(to right, rgba(30, 70, 70, .8), rgba(30, 70, 70, 1));
	}

	.adv-btn:focus{
		color: white;
	}

	.example-img{
		height: 170px;
		margin-top: 40px;
	}
/*Main Content END*/

/*Footer*/

	.footer{
		color: white;
		margin-top: 60px;
		bottom: 0;
		height: 100px;	
		background: #1d4242;
		background: -moz-linear-gradient(left, rgba(30, 70, 70, .8), rgba(30, 70, 70, 1), rgba(30, 70, 70, .7));
		background: -webkit-linear-gradient(left, rgba(30, 70, 70, .8), rgba(30, 70, 70, 1), rgba(30, 70, 70, .7));
		background: linear-gradient(to right, rgba(30, 70, 70, .8), rgba(30, 70, 70, 1), rgba(30, 70, 70, .7));
	}

/*Footer END*/
